# Go to the channel page -> Click on the channel description -> Scroll to the bottom -> Share Channel -> Copy channel ID
YOUTUBE_CHANNEL_ID=

# Type of YouTube posts to send alerts for. Can be one of the following:
#     all, video / videos, popularVideos, live / streams, memberVideo / memberVideos, 
#     memberAllTypes, memberShorts, memberLive / memberStreams, popularShorts, 
#     popularLive / popularStreams, shorts
YOUTUBE_CONTENT_TYPE=video

# Discord webhook
# Go to the destination Discord channel -> Edit channel -> Integrations -> Webhooks -> New Webhook -> (name the webhook, give it a username, etc) -> Copy Webhook URL
DISCORD_WEBHOOK=

# How often to check for new videos, in seconds. Defaults to once ever 2 minutes if omitted (120 seconds)
UPDATE_INTERVAL=120